.doanh-thu {
    .npd {
        padding: 5px 0;
    }
    .npd-top {
        padding-top: 0;
    }
    .modal-header.close {
        margin: 0;
        font-size: 18px;
    }
    .modal-body {
        padding: 0;
    }
    .group {
        padding: 10px 0 10px 0;
    }
    .pd {
        padding: 5px 0;
    }
    div {
        padding-top: 10px;
        padding-left:0;
        padding-right:0;
    }
    .btn-confirm {
        padding-bottom: 10px;
    }

    @media(max-width: 479px) {
        .btn-confirm {
            text-align: center;
        }
        .modal-dialog{
            padding:0;
        }
    }
}